body {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}

a {
  color: #fc8b5a;
}

.App .App-logo {
  margin: 0 auto;
  display: block;
  max-width: 100px;
  margin-top: 70px;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App main {
  margin: 20px 0 0 50px;
}

.App footer {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Courier New", Courier, monospace;
}
